html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

body{
    padding:0;
    margin:0;
}

h1 {
    color: rgb(94, 94, 230);
}

h5{
    color: #179e12;
}

.header {
    position: relative;
    display: flex;
    height: 130px;
    width: 100%;
    background-color: #09236b;
    margin-bottom: 1%;
}

#name {
    font-weight: 700;
    color: rgb(201, 193, 193);
    margin: 0;
    padding: 0;
}

.icons {
    position: absolute;
    right: 10px;
    top: 40%;
    display: flex;
}

.nome{
    display: flex;
    flex: 100;
    align-items: center;
    justify-content: center;
}

#ita{
    border: 10px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #1e45af;
    width: 50px;
    justify-content: center;
    display: flex;
}

#eng{
    border: 10px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #1e45af;
    width: 50px;
    justify-content: center;
    display: flex;
}

#jp{
    border: 10px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #1e45af;
    width: 70px;
    justify-content: center;
    display: flex;
}

#Musica{
    display: inline;
}

#verMusica{
    display: inline;
}

#Labirinto{
    display: inline;
}

#verLabirinto{
    display: inline;
}